<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../tqjcss/1.css">
    <style>
        #iframe{
            position: absolute;
            left: 250px;
            top: 0px;
            width: 1670px;
            height: 930px;
            background-color:red;
            z-index: 999;  
        }
    </style>
</head>

<body>
    <div class="box">
        <div class="box1">
            <div class="left">
                <div class="left1">
                    <div class="reportsLeftNav">
                        <span class="reportmenu_Hdr">文件夹</span>
                        <div class="rightbtns">
                            <a href="#">编辑</a>
                        </div>
                        <div class="rep_leftPar">
                            <div class="SearchBoxDiv">
                                <span class="ico-search svgIcons">
                                    <input class="SearchInput" placeholder="搜索文件夹" type="text">

                                </span>
                            </div>
                        </div>
                        <!-- 左边内容 -->
                        <div class="folderList">
                            <ul>
                                <li id="btn1" data-index="1" style="background:#208aed;color:#fff">全部报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn2" data-index="2">收藏报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn3" data-index="3">最近的报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn4" data-index="4">我创建的报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn5" data-index="5">计划报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn6" data-index="6">客户与联系人报表
                                    <span class="xiaotubiao"></span>

                                    <div class="cs"></div>

                                </li>
                                <li id="btn7" data-index="7">交易报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn8" data-index="8">线索报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn9" data-index="9">任务、通话及活动报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn10" data-index="10">市场活动报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn11" data-index="11">服务支持与解决方案报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn12" data-index="12">预测报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn13" data-index="13">产品报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn14" data-index="14">供货商报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn15" data-index="15">报价报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn16" data-index="16">销售订单报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn17" data-index="17">邮件报表
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                                <li id="btn18" data-index="18">Event Reports
                                    <span class="xiaotubiao"></span>
                                    <div class="cs"></div>
                                </li>
                            </ul>

                        </div>



                    </div>


                </div>

                <!-- </div> -->
            </div>
            <!-- 左边底部 -->
            <div class="Fortrash">
                <span class="shangbianxian"></span>
                <span class="xiaotubiao1"></span>
                <span class="listText1 ">最近删除的</sapn>
                    <div class="cs"></div>
            </div>


            <iframe id="iframe" src="name1.html" frameborder="0"></iframe>

        </div>
    </div>



</body>

</html>
<script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery.min.js"></script>
<script>

    // btn1.onclick = function(){
    //     iframe.src = 'components/name1.html';
    // }
    // btn2.onclick = function(){
    //     iframe.src = 'components/name2.html';
    // }
    // btn3.onclick = function(){
    //     iframe.src = 'components/name3.html';
    // }
    // btn4.onclick = function(){
    //     iframe.src = 'components/name4.html';
    // }
    // btn5.onclick = function(){
    //     iframe.src = 'components/name5.html';
    // }
    // btn6.onclick = function(){
    //     iframe.src = 'components/name6.html';
    // }
    // btn7.onclick = function(){
    //     iframe.src = 'components/name7.html';
    // }
    // btn8.onclick = function(){
    //     iframe.src = 'components/name8.html';
    // }
    // btn9.onclick = function(){
    //     iframe.src = 'components/name9.html';
    // }
    // btn10.onclick = function(){
    //     iframe.src = 'components/name10.html';
    // }
    // btn11.onclick = function(){
    //     iframe.src = 'components/name11.html';
    // }
    // btn12.onclick = function(){
    //     iframe.src = 'components/name12.html';
    // }
    // btn13.onclick = function(){
    //     iframe.src = 'components/name13.html';
    // }
    // btn14.onclick = function(){
    //     iframe.src = 'components/name14.html';
    // }
    // btn15.onclick = function(){
    //     iframe.src = 'components/name15.html';
    // }
    // btn16.onclick = function(){
    //     iframe.src = 'components/name16.html';
    // }
    // btn17.onclick = function(){
    //     iframe.src = 'components/name17.html';
    // }
    // btn18.onclick = function(){
    //     iframe.src = 'components/name18.html';
    // }
    var index;
    var xiaotubiao = document.getElementsByClassName("xiaotubiao");
    var lis = document.getElementsByTagName("li");
    for (var i = 0; i < lis.length; i++) {
        lis[i].onclick = function () {
            console.log($(this).children(1));
           
            index = this.getAttribute("data-index");
            iframe.src = "name" + index + ".html";
            console.log(index);
            for (var j = 0; j < lis.length; j++) {
                lis[j].style.background = "";
                lis[j].style.color = "";

                 $(this).children(1).css({ "background": "url(../tqjimage/svgicons_43e8a_.svg) no-repeat -113px -394px", "display": "block" });
               
            }
            this.style.background = "#208aed";
            this.style.color = "#fff";
            $(this).children(1).css({ "background": "url(../tqjimage/svgicons_43e8a_.svg) no-repeat -130px -394px", "display": "block" });



            // $(".xiaotubiao").css({ "background": "url(image/svgicons_43e8a_.svg) no-repeat -130px -394px!important", "width": "16px!important", "height": "16px!important" });
            // console.log(this);
        }
    }
    // for (var k = 0; k < xiaotubiao.length; k++) {
    //     xiaotubiao[k].onclick = function () {
    //         for (var m = 0; m < xiaotubiao.length; m++) {
    //             xiaotubiao[m].style.background = "";
    //         }
    //         this.style.background = "";
    //     }
    // }
</script>
