<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>销售订单</title>
    <link rel="stylesheet" href="../tqjcss/3.css">
</head>
<body>
    <div class="box">
        <div class="box1">
            <div class="tupian">
                <div class="tupian1"></div>
            </div>
        <h1>获取销售订单</h1>
        <p>销售订单是客户基于您的报价单发送的采购订单后的确认函。</p>
        <button><a href="baojia.html">创建销售订单</a></button>
        </div>
    </div>
</body>
</html>