<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>报价</title>
    <link rel="stylesheet" href="../tqjcss/2.css">
</head>
<body>
    <div class="box">
        <div class="box1">
            <div class="tupian">
                <div class="tupian1"></div>
            </div>
        <h1>管理客户报价</h1>
        <p>报价是客户及供货商之间关于在指定的时间以指定的价格对指定商品进行交易的法律条款。</p>
        <button><a href="baojia.html">创建报价</a></button>
        </div>
    </div>
</body>
</html>