<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="cyf-css/normalize.css">
    <link rel="stylesheet" href="cyf-css/shouye.css">
</head>

<body>
    <!-- 内容 -->
    <div class="box">
        <!-- 未关闭的任务，今日线索 -->
        <div class="div1 wrap">
            <!-- 任务 -->
            <div class="renwu">
                <div class="guanbi">
                    <span>未关闭的内容</span>
                    <span></span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="zhuti">
                    <ul class="zhuti_ul">
                        <li class="zhuti_li gray">
                            <span class="zhuti_li_lis">主题</span>
                            <span class="zhuti_li_time">到期日期</span>
                            <span class="zhuti_li_zhuangtai">状态</span>
                            <span class="zhuti_li_youxianji">优先级</span>
                            <span class="zhuti_li_guanliandoa">关联到</span>
                            <span class="zhuti_li_name">联系人姓名</span>
                            <span class="zhuti_li_suoyouzhe">活动所有者</span>
                            <span class="zhuti_li_leixing">活动类型</span>
                        </li>
                        <li class="zhuti_li tu">
                            <span class="zhuti_li_lis blue">注册即将到来的CRM网络研讨会</span>
                            <span class="zhuti_li_time">2018-12-05</span>
                            <span class="zhuti_li_zhuangtai">未启动</span>
                            <span class="zhuti_li_youxianji">低</span>
                            <span class="zhuti_li_guanliandoa blue">
                                <img src="cyf-image/fangzi.png" alt=""> 吉祥如意餐饮</span>
                            <span class="zhuti_li_name blue">欣然王</span>
                            <span class="zhuti_li_suoyouzhe">对对对</span>
                            <span class="zhuti_li_leixing">任务</span>
                        </li>
                        <li class="zhuti_li tu">
                            <span class="zhuti_li_lis blue">注册即将到来的CRM网络研讨会</span>
                            <span class="zhuti_li_time">2018-12-05</span>
                            <span class="zhuti_li_zhuangtai">未启动</span>
                            <span class="zhuti_li_youxianji">低</span>
                            <span class="zhuti_li_guanliandoa blue">
                                <img src="cyf-image/fangzi.png" alt="">吉祥如意餐饮</span>
                            <span class="zhuti_li_name blue">欣然王</span>
                            <span class="zhuti_li_suoyouzhe">对对对</span>
                            <span class="zhuti_li_leixing">任务</span>
                        </li>
                        <li class="zhuti_li tu">
                            <span class="zhuti_li_lis blue">注册即将到来的CRM网络研讨会</span>
                            <span class="zhuti_li_time">2018-12-05</span>
                            <span class="zhuti_li_zhuangtai">未启动</span>
                            <span class="zhuti_li_youxianji">低</span>
                            <span class="zhuti_li_guanliandoa blue">吉祥如意餐饮</span>
                            <span class="zhuti_li_name blue">欣然王</span>
                            <span class="zhuti_li_suoyouzhe">对对对</span>
                            <span class="zhuti_li_leixing">任务</span>
                        </li>
                        <li class="zhuti_li tu">
                            <span class="zhuti_li_lis blue">注册即将到来的CRM网络研讨会</span>
                            <span class="zhuti_li_time">2018-12-05</span>
                            <span class="zhuti_li_zhuangtai">未启动</span>
                            <span class="zhuti_li_youxianji">低</span>
                            <span class="zhuti_li_guanliandoa blue">吉祥如意餐饮</span>
                            <span class="zhuti_li_name blue">欣然王</span>
                            <span class="zhuti_li_suoyouzhe">对对对</span>
                            <span class="zhuti_li_leixing">任务</span>
                        </li>
                        <li class="zhuti_li tu">
                            <span class="zhuti_li_lis blue">注册即将到来的CRM网络研讨会</span>
                            <span class="zhuti_li_time">2018-12-05</span>
                            <span class="zhuti_li_zhuangtai">未启动</span>
                            <span class="zhuti_li_youxianji">低</span>
                            <span class="zhuti_li_guanliandoa blue">吉祥如意餐饮</span>
                            <span class="zhuti_li_name blue">欣然王</span>
                            <span class="zhuti_li_suoyouzhe">对对对</span>
                            <span class="zhuti_li_leixing">任务</span>
                        </li>
                    </ul>
                </div>
                <p class="dao">
                    <span class="color">
                        <</span>
                            <span>1</span>
                            <span class="color">到</span>
                            <span>5</span>
                            <span>></span>
                </p>
            </div>
            <!-- 横线 -->
            <div class="hengxina"></div>
            <!-- 线索 -->
            <div class="xiansuo renwu">
                <div class="guanbi">
                    <span>今日线索</span>
                    <span></span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div>
                    <p>找不到线索</p>
                </div>
            </div>
        </div>
        <!-- 金额-阶段 -->
        <div class="div1 wrap"></div>
        <!-- 本月关闭 -->
        <div class="div1 wrap"></div>
    </div>
</body>

</html>