<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="hgf-css/nomalize.css">
    <link rel="stylesheet" href="hgf-css/sjfx01.css">
</head>
<body>
    <!-- main的一部分 -->
    <main>
    <!-- 点击弹出 -->
        <ul class="chart">
         <!-- 图表对应弹出框 -->
            <li class="box1">
                <div class="add">
                     <span>Add Chart</span>
                     <span class="close"><a href="#">x</a></span>
                </div>
                <div class="lia">
                    <div>
                        <span class="sp1"></span>
                        <p>快速图表</p>
                        <p>Create charts instantly</p>
                    </div>
                    <div>
                        <span class="sp2"></span>
                        <p>来自报表</p>
                        <p>从现有报表获取</p>
                    </div>
                </div>
            </li>
            <li class="box2">
                <div class="add">
                    <span>选择KPI风格</span>
                    <span class="close"><a href="#">x</a> </span>
                </div>
                <div class="wu">
                    <div class="wuli">
                        <div class="benyue">
                            <div class="doller">
                                <p>本月收入</p>
                                <p>
                                    <span>$300</span>
                                    <span></span>
                                    <span>3.09%</span>
                                </p>
                                <p>上月:$291</p>   
                            </div>
                            <!-- 标准 -->
                            <p class="biaozhun">标准</p>
                        </div>
                        <div class="benyue">
                            <div class="doller">
                                <p>本月收入</p>
                                 <p>
                                    <span>$300</span>
                                    <span></span>
                                    <span>3.09%</span>
                                    </p>
                                <p>上月:$291</p>   
                            </div>
                            <!-- 标准 -->
                            <p class="biaozhun">标准</p>
                        </div>
                        <div class="benyue">
                            <div class="doller">
                                <p>本月收入</p>
                                 <p>
                                    <span>$300</span>
                                    <span></span>
                                    <span>3.09%</span>
                                        </p>
                                <p>上月:$291</p>   
                            </div>
                            <!-- 标准 -->
                            <p class="biaozhun">标准</p>
                        </div>
                    </div>
                    <div class="wuli2">
                        <div class="remen">
                            <div class="yi">
                                <p>热门行业-已创建线索</p>
                                <table>
                                <tr>
                                    <td>通信</td>
                                    <td>36</td>
                                    <td>
                                        <p class="baione">14.0%</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>广告</td>
                                    <td>35</td>
                                    <td>
                                        <p class="baitwo">22%</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>推销电话</td>
                                    <td>13</td>
                                    <td>
                                       <p class="baione">13%</p> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>员工介绍</td>
                                    <td>4</td>
                                    <td>
                                       <p class="baitwo">19%</p> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>外部介绍</td>
                                    <td>2</td>
                                    <td>
                                       <p class="baitwo">
                                          20.79% 
                                       </p> 
                                    </td>
                                </tr>
                                </table>
                                <p class="qunian">与去年相比</p>
                            </div>
                            <p class="jifeng">疾风前行</p>
                        </div>
                        <div class="suoyouzhe">
                            <div class="num">
                                <div class="five">
                                    <p>前五名线索所有者</p>
                                </div>
                                <table>
                                    <tr>
                                        <td>1.Christorpher</td>
                                        <td>1280</td>
                                    </tr>
                                    <tr>
                                        <td>2.Json Bell</td>
                                        <td>1010</td>
                                    </tr>
                                    <tr>
                                        <td>3.Michael Gold</td>
                                        <td>777</td>
                                    </tr>
                                    <tr>
                                        <td>4.Steve Wright</td>
                                        <td>728</td>
                                    </tr>
                                    <tr>
                                        <td>5.David Maxwell</td>
                                        <td>696</td>
                                    </tr>
                                    <tr>
                                        <td>6.Henry John</td>
                                        <td>533</td>
                                    </tr>
                                </table>
                            </div>
                            <p class="paiming">排名</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="main">
            <!-- 左侧组件 -->
            <div class="main-left">
                <div class="top">
                    <p>组件</p>
                </div>
                <div class="center">
                    <ul>
                        <li class="list1">
                            <span class="icon"></span>
                            <span class="tubiao">图表</span>
                        </li>
                        <li class="list2">
                            <span class="icon"></span>
                            <span class="kpi">KPI</span>
                        </li>
                        <li class="list4">
                            <span class="icon"></span>
                            <span class="bijiao">比较</span>
                        </li>
                        <li class="list3">
                            <span class="icon"></span>
                            <span class="yichang">异常检测器</span>
                        </li>
                        <li class="list5">
                            <span class="icon"></span>
                            <span class="mubiao">目标表</span>
                        </li>
                        <li class="list6">
                            <span class="icon"></span>
                            <span class="loudou">漏斗</span>
                        </li>
                    </ul>
                </div>
                <div class="tiqu">
                    <span class="icon"></span>
                    <p>从图库中提取</p>
                </div>
            </div>
            <!-- 右侧 -->
            <div class="main-right">
                <div class="section">
                    <div class="l_two">
                        <input type="text" placeholder="输入仪表板名称" id="btn">
                        <p class="text" id="text" style="display:none;">仪表板名称不能为空</p>
                    </div>
                    <div class="wenhao">
                        <span class="icon"></span>
                        <a class="a1" href="hgf-sjfx.html">取消</a>
                        <a class="a2" href="#" id="a2">保存</a>
                    </div>
                </div>
                <div class="fankuai">
                    <div class="widget">
                         <span class="icon"></span>
                         <p>选择一个组件</p>
                         <p>通过添加组件建立你的仪表板</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
<script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(function(){
    var border="";
    $(".center ul li").on("mouseover",function(){
        border = $(this).css("border");
        $(this).css("border","1px solid rgba(0,0,0,0.4)");
    }).on("mouseout",function(){
        $(this).css("border",border);
    })
})
$(function(){
    $(".tiqu").on("mouseover",function(){
        $(this).css("border","1px solid skyblue")
    }).on("mouseout",function(){
        $(this).css("border","1px solid rgba(0,0,0,0.2)")
    })
})
</script>
<script>
$("#btn").focus(function(){
    $(this).css("border-bottom","2px solid skyblue");
})
$("#btn").blur(function(){
    $(this).css("border-bottom","2px solid rgb(204,204,204");
})
$("#a2").on("click",function(){
    var A=$("#btn").val();
    if(A==null||A==""){
    //处理
        $("#text").show().delay(3000).hide(300);
    }else if(A!=null){
        $("#text").hide();
    }
})
$(".center ul li").on("click",function(){
    var i = $(this).index();
    $(".chart li").eq(i).slideDown(300).siblings().hide();
    $("li span.close").on("click",function(){
        // var ii = $(".chart li").index(); 
        $(".chart li").eq(i).hide();
    })
})

</script>