<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="hgf-css/normalize.css">
    <link rel="stylesheet" href="hgf-css/sjfx.css">
</head>
<body class="body">
    <!-- 弹出添加组件 -->
    <div class="tanchuan">
        <div class="zujian">
            <div class="add">
                <span>添加组件</span>
                <span><a href="#">X</a></span>
            </div>
            <div class="center">
                <ul>
                    <li class="list1">
                        <span class="icon"></span>
                        <span class="tubiao">图表</span>
                    </li>
                    <!-- <li class="list2">
                        <span class="icon"></span>
                        <span class="kpi">KPI</span>
                    </li>
                    <li class="list4">
                        <span class="icon"></span>
                        <span class="bijiao">比较</span>
                    </li>
                    <li class="list3">
                        <span class="icon"></span>
                        <span class="yichang">异常检测器</span>
                    </li>
                    <li class="list5">
                        <span class="icon"></span>
                        <span class="mubiao">目标表</span>
                    </li>
                    <li class="list6">
                        <span class="icon"></span>
                        <span class="loudou">漏斗</span>
                    </li> -->
                </ul>
               
            </div> 
            <!-- <div class="tiqu">
                <span class="icon"></span>
                <p>从图库中提取</p>
            </div> -->
        </div>
    </div>
    <!-- main -->
    <main>
        <div class="main">
            <!-- 左侧 -->
            <div class="main-left">
                <div class="main_l_top" >
                    <div class="l_one">
                        <h3 id="yibiao" onmousedown="show();">仪表板</h3>
                        <p class="ban">仪表板</p>
                        <span class="icon"></span>
                        <a href="hgf-sjfx01.html" class="icon1"></a>
                    <!-- 隐藏显示 -->
                        <ul id="san">
                            <li><span>+</span><a href="#">所有仪表板</a></li>
                            <li><span></span><a href="#">分享给我的</a></li>
                            <li><span></span><a href="#">我创建的</a></li>
                        </ul>
                    </div>
                    <div class="l_two">
                        <input type="text" placeholder="搜索" id="btn">
                        <div id="icon2" class="icon2" ></div>
                    </div>
                </div>
                <div class="main_l_cent">
                    <!-- <div class="collect" id="sc">
                        <a href="#">收藏</a>
                    </div> -->
                    <div class="over">
                        <!-- tab切换 -->
                        <ul class="cll" id="cll">
                            <li><a href="#">收藏</a></li>
                            <li><a href="#">机构概览</a></li>
                            <li><a href="#">线索分析</a></li>
                            <li><a href="#">交易透视</a></li>
                            <li><a href="#">任务，通话及活动统计</a></li>
                            <li><a href="#">销售指标</a></li>
                            <li><a href="#">销售趋势</a></li>
                            <li><a href="#">销售跟进趋势</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 右侧 -->
            <div class="main-right">
                <!-- tab切换 -->
                    <ul class="qiehuan" id="qiehuan" >
                        <!-- 收藏 -->
                        <li class="lis1" style="display:none;">
                            <div class="box1">
                                <h2>收藏</h2>             
                                <div class="box1_r">
                                    <span class="icon3"></span>
                                    <span class="icon4"></span>
                                    <a class="btn" href="#">重新排序</a>
                                    <span class="icon5"></span>
                                </div>
                            </div>
                            <div class="section">
                                <div class="favicon">
                                    <span class="icon6"></span>
                                    <p>尚未发现组件</p>
                                    <p>在仪表板中将组件添加为收藏</p>
                                </div>
                            </div>
                        </li>
                        <!-- 机构概览 -->
                        <li class="lis2" style="display:none;">
                            <div class="box2">
                                <p>机构概览</p>
                                <div class="deus">
                                    <span class="xz"></span>
                                    <a class="asd"  href="#">添加组件</a>
                                    <a class="dian" href="#">...</a>
                                    <span class="wh"></span>
                                </div>
                            </div>
                            <div class="box2_r">
                                <div class="r_t">
                                    <div class="t_o">
                                        <div class="o_top">
                                            <span>本月线索</span>
                                            <span class="icon"></span>
                                        </div>
                                        <div class="o_cen">
                                            <span>10</span>
                                            <span>△</span>
                                            <span>100%</span>
                                        </div>
                                        <p class="o_fot">上月：0</p>
                                    </div>
                                    <div class="t_h">
                                        <div class="h_y">
                                            <span>本月收入</span>
                                            <span class="icon"></span>
                                        </div>
                                        <p class="no">没有可用数据</p>
                                    </div>
                                    <div class="t_g">
                                        <div class="g_g">
                                            <span>管道中的商机</span>
                                            <span class="icon"></span>
                                        </div>
                                        <p class="ten">10</p>
                                    </div>
                                    <div class="t_f">
                                        <div class="f_top">
                                            <span>本月的客户    </span>
                                            <span class="icon"></span>
                                        </div>
                                        <div class="f_cen">
                                            <span>100%</span>
                                            <span>10</span>
                                        </div>
                                        <p class="f_fot">上月：0</p>
                                    </div>
                                </div>
                                <div class="r_c">
                                           
                                </div>
                            </div>
                        </li>
                        <!-- 线索分析 -->
                        <li class="lis3" style="display:none">
                            <div class="box3">
                                <p>线索分析</p>
                                <div class="deus">
                                    <span class="xz"></span>
                                    <a class="asd"  href="#">添加组件</a>
                                    <a class="dian" href="#">...</a>
                                    <span class="wh"></span>
                                </div>
                            </div>
                        </li>
                        <!-- 交易透视 -->
                        <li class="lis4" style="display:none;">
                            <div class="box4">
                                <p>交易透视</p>
                                <div class="deus">
                                    <span class="xz"></span>
                                    <a class="asd"  href="#">添加组件</a>
                                    <a class="dian" href="#">...</a>
                                    <span class="wh"></span>
                                </div>
                            </div>
                        </li>
                        <li class="lis5" style="display:none;">
                            <div class="box5">
                                <p>任务，通话及活动统计</p>
                                <div class="deus">
                                    <span class="xz"></span>
                                    <a class="asd"  href="#">添加组件</a>
                                    <a class="dian" href="#">...</a>
                                    <span class="wh"></span>
                                </div>
                            </div>
                        </li>
                        <li class="lis6" style="display:block;">
                            <div class="box6">
                                <p>销售指标</p>
                                <div class="deus">
                                    <span class="xz"></span>
                                    <a class="asd"  href="#">添加组件</a>
                                    <a class="dian" href="#">...</a>
                                    <span class="wh"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </main>
</body>
</html>
<script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery.min.js"></script>
<script>
$("#btn").focus(function(){
    $(this).css("border-bottom","2px solid skyblue");
})
$("#btn").blur(function(){
    $(this).css("border-bottom","2px solid rgb(204,204,204)");
})
</script>
<script type="text/javascript">
    $(document).ready(function() {
    $("#san").hide();
    });
    function show(){
        $("#san").show(function(){
        /*鼠标点击空白处隐藏元素*/
             $(document).bind("click",function(e){
                var target = $(e.target);
                if(target.closest("#san").length == 0){
                $("#san").hide();
                }
            });
            /*鼠标点击空白处隐藏元素结束*/
        });
    };
</script>
<script>
    $("#cll li").on("click",function(){
        var i = $(this).index();
        $(this).addClass("collect").siblings().removeClass("collect");
        $("#qiehuan li").eq(i).show().siblings().hide();
    })
</script>
<!-- <script>
$(function(){
    $.ajax({
        url:"api.php",
        type:"POST",
        dataType:"json",
        data:{
            "action":"image"
        },
        success:function(data){
            console.log(data);
        }
    })
})
</script> -->